:root {
  --color-bg: #ffffff;
  --color-sombra: rgba(0, 0, 0, 0.7);

  --color-primario: #93a3bc;
  --color-secundario: #f0d387;
  --color-terciario: #ffffff;

  --font-title: 'Beau Rivage', cursive;
  --font-text : "Playfair Display", serif;

  --fs-xs: 0.75rem;   /* 12px */
  --fs-sm: 0.9rem;    /* 14px */
  --fs-md: 1rem;      /* 16px base */
  --fs-lg: 1.5rem;    /* 24px */
  --fs-xl: 2.5rem;    /* 40px */
  --fs-xxl: 4rem;     /* 64px */
  --fs-hero: 6rem;    /* 96px */
}


/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  min-height: 100svh; /* 🔥 mejor en móviles */


  width: 100%;
  overflow: hidden;
}

.hero-img {
  position: absolute;   /* 🔥 clave */
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* OVERLAY */
.hero-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateY(15%); /* 🔥 lo baja un poco */
  
  text-align: center;
  color: var(--color-terciario);
}
.fecha {
  margin: 0 ;
  font-size: var(--fs-sm);
}

.fecha--black {
  color: black;
  text-shadow: none;
  text-align: center;

}

.nombres {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.nombre {
  display: block;
   font-family: var(--font-title);
  font-size: var(--fs-hero);
  font-style: italic;
  margin: 1.5rem;
  color: var(--color-terciario);
}

.and {
  margin: 0.5rem;
  font-size: var(--fs-xl);
  font-family: var(--font-title);
  font-style: italic;
  color: var(--color-terciario);
}


/* ICONO */
.icono {
  width: var(--fs-xl);
}

.icon--primary {
  filter: invert(1);
}

.icon--small {
  width: var(--fs-lg);
}

.icon--big {
  width: var(--fs-xxl);
}

.iconoredes{
  align-items: center;
  margin-top: 3rem;
  width: 4rem;
  opacity: 0.8;
  filter: invert(1);

}

/* INFO SECTION */
.info {
  display: block;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  font-family: var(--font-base);
  color: var(--color-primario);
}

/* FRASE */
.frase {
  margin: 1rem 1rem;
  font-size: var(--fs-lg  );
  color: var(--color-primario);
 font-family: var(--font-title);
  margin-bottom: 20px;
  padding: 3rem;
}

/* DECORACIÓN */
.decoracion {
  align-self: center;
  width: 3in;
  margin: 20px auto;
  margin: 2rem auto;    /* 🔥 lo centra */
}

/* TITULOS */
.padrinos {
  font-family: var(--font-title);
  font-size: var(--fs-xl);
  line-height: 1.3;
   letter-spacing: 0.05em;
  color: var(--color-primario);
  font-style: italic;
  margin-top: 30px;
}


.nompadrinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  font-family: var(--font-text);
  font-size: var(--fs-md);
  color: var(--color-secundario);
}

.persona {
  display: block;
  margin: 0.7rem;
}

/* moño negro */
.finado {
  margin-left: 6px;
  color: black;
  font-size: 1.5rem;
}
/* CONTADOR */

.countdown-section{
  justify-content: center;
  
  margin: 2rem;
}
.countdown{
  display: flex;              /* 🔥 esto faltaba */
  justify-content: center;
  gap: 15px;
  margin: var(--fs-xl);
}


/* CAJAS */
.box {
  background: var(--color-secundario);
  color: var(--color-terciario);
  padding: 20px;
  border-radius: 8px;
  width: 30px;
  font-family: var(--font-text);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box span {
  font-size: 1rem;
  display: block;
}

.box p {
  font-size: var(--fs-xs);
  margin: 5px 0 0;
  text-align: center;
}
.titulo {
  font-family: var(--font-title);
  font-size: var(--fs-xxl);
  color: var(--color-primario);
  letter-spacing: 0.2rem;

  width: fit-content;   /* 🔥 clave */
  margin: 1rem auto;    /* 🔥 lo centra */
}
.titulo2{
  font-family: var(--font-text);
  font-size: var(--fs-xl);
  margin: 5px 0 0;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

.titulo3{
  font-family: var(--font-title);
  font-size: var(--fs-xxl);
  color: var(--color-terciario);
  letter-spacing: 0.2rem;

  width: fit-content;   /* 🔥 clave */
  margin: 1rem auto;    /* 🔥 lo centra */
}

.titulo-span{
    font-family: var(--font-title);
    font-size: 3rem;
}


.reveal {
  position: relative;
}

.reveal img {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;
  object-fit: cover;
   object-position: 50% center;
}


.ubicacion {
    align-items: center;
    text-align: center;

    background: var(--color-bg);
    padding: 100px 20px;
    position: relative;
}

/* TARJETA */
.card {
  max-width: 350px;
  margin: 0 auto 40px;
}

.ubi-img{
    margin: 0;
    width: 2in;
}

.tipo {
  font-family: var(--font-text);
  font-size: var(--fs-lg);
  color: var(--color-primario);
  margin: 10px 0;
}

.hora {
  font-family: var(--font-text);
  font-size: var(--fs-md);
  color: var(--color-primario);
  margin: 10px 0;
}

/* NOMBRE */
.lugar {
  font-family: var(--font-text);
  font-size: var(--fs-md);
  color: var(--color-primario);
  margin: 5px 0;
}

/* DIRECCIÓN */
.direccion {
  font-family: var(--font-text);
  font-size: var(--fs-xs);
  color: var(--color-primario);
  margin: 15px 0;
}


.dresscode {
  background: var(--color-bg);
  text-align: center;
  padding: 60px 20px;
  font-family: 'Georgia', serif;
}


/* FORMAL */
.formal {
    font-family: var(--font-text);
    font-size: var(--fs-lg);
    color: var(--color-primario);
    margin: 2rem;
}

/* CONTENIDO */
.contenido2 {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* COLUMNAS */
.col {
    font-family: var(--font-title);
    font-size: 4rem;
    color: var(--color-primario);
    margin: 0.5rem;
}

/* TÍTULOS ELLOS / ELLAS */
.ellos, .ellas {
  font-family: var(--font-title);
  font-size: var(--fs-xl);
  color: var(--color-primario);
  margin: 1rem;
}

/* TEXTO */
.col p {
  font-family: var(--font-text);
  font-size: var(--fs-sm);
  color: var(--color-primario);
  margin: 1rem;
}
.icondc {
    margin: 0;
    width: 2in;
}

.itinerario {
  background: var(--color-secundario);
  color: white;
  text-align: center;
  padding: 80px 20px;
  font-family: var(--font-text);
}


/* LISTA */
.lista {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* ITEM */
.item img {
  width: 4rem;
  margin-bottom: 10px;
}

.item p {
  margin: 1rem;
  font-size: var(--fs-md);
  font-family: var(--font-text);
}

.regalos {
  background: var(--color-terciario);
  text-align: center;
  align-items: center;
  padding: 60px;
  font-family: 'Georgia', serif;
}

/* DESCRIPCIÓN */
.descripcion {
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: var(--color-primario);
  font-family: var(--font-text);
}

/* LOGO */
.logo {
  width: 140px;
  border-radius: 20%;
}

/* BOTÓNES */
.btn {
    margin: 2rem;
  background: #e6c471;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
    align-self: center;
  text-decoration: none;
  font-size: 0.8rem;
}

.btn:hover {
  background: var(--color-secundario);
}

.btn2 {
    margin: 50px;
  display: block;
  background: #f3f3f3;
  color: #9c6b3f;
  padding: 12px 25px ;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.3s;
  
}

/* HOVER */
.btn2:hover {
  background: white;
  transform: scale(1.05);
}

.btn3 {
  display: inline-block;
  background: #e24512;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.25rem;
  font-style: var(--font-text);
  padding: 10px 20px;
}



.hashtag {
  background: #f0d387;
  color: white;
  text-align: center;
  padding: 80px 20px;
}
.texto{
  font-size: var(--fs-md);
  font-family: var(--font-text);
  color: var(--color-primario);
  margin: 0;
}
.texto2{
  font-size: var(--fs-md);
  font-family: var(--font-text);
  color: var(--color-terciario);
  margin: 1rem;
}
/* HASHTAG */
.tag {
  font-size: var(--fs-lg);
  font-weight: bold;
  margin-bottom: 30px;
}

/* REDES */
.redes {
  display: flex;
  align-items: center;
  gap: 25px;
  text-align: center;
  justify-content: center;
}


.galeria {
  background: var(--color-terciario);
  text-align: center;
  padding: 60px 20px;
}

/* CONTENEDOR PRINCIPAL */
.viewer {
  position: relative;
  max-width: 320px;
  margin: auto;
}

/* 🔥 FRAME FIJO */
.frame {
  width: 100%;
  height: 420px; /* 🔥 SIEMPRE IGUAL */
  overflow: hidden;
  border-radius: 15px;
}

/* 🔥 IMAGEN CONTROLADA */
.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 🔥 clave */
}

/* BOTONES */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;        /* 🔥 ancho del botón */
  height: 100%;       /* 🔥 ocupa todo el alto del contenedor */

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.15); /* 🔥 casi invisible */
  color: white;
  border: none;
  cursor: pointer;

  transition: 0.3s;
}

.prev { left: 0; }
.next { right: 0; }

/* THUMBNAILS */
.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 15px;

  overflow-x: auto;        /* 🔥 permite deslizar */
  overflow-y: hidden;
  white-space: nowrap;     /* evita que bajen de línea */
  padding: 10px;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; /* opcional pro */
  -webkit-overflow-scrolling: touch; /* suavidad en iOS */
}
.thumbs img {
  flex: 0 0 auto;          /* 🔥 evita que se encojan */
  width: 60px;
  height: 60px;

  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;

  scroll-snap-align: start; /* opcional pro */
}

.thumbs::-webkit-scrollbar {
  display: none;
}

.thumbs img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.confirmacion {
  background: var(--color-terciario);
  text-align: center;
  padding: 60px 20px;
  font-family: 'Georgia', serif;
}

/* AVISO */
.aviso {
  font-weight: bold;
  margin: 20px 0;
  font-family: var(--font-text);
  color: var(--color-primario);
}

.buzon {
  background: #f0d387;
  color: white;
  text-align: center;
  padding: 80px 20px 120px;
  font-family: 'Georgia', serif;
}

.buzon {
  background: #f0d387;
  color: white;
  text-align: center;
  padding: 80px 20px 120px;
  font-family: 'Georgia', serif;
}



